@model ML.Encuesta
@{
    ViewBag.Title = "Index";
}

@{
    foreach (ML.Encuesta encuesta in Model.Objects)
    {
        <div>
            <h3>@encuesta.Nombre</h3>
            <div class="alert-dark">
                @encuesta.FechaFin - @encuesta.FechaFin
            </div>
            @encuesta.TipoEncuesta.Nombre
            @Html.ActionLink("Editar", "Edit", "Encuesta", new { IdEncuesta = encuesta.IdEncuesta }, htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    }
    @Html.ActionLink("Agregar", "Add", "Encuesta", htmlAttributes: new { @class = "btn btn-success" })

    <div ng-repeat="item in Encuestas">
        <h3>{{ item.Nombre }}</h3>
        <div class="alert-dark">
            {{ item.FechaFin }} - {{ item.FechaFin }}
        </div>
        {{ item.TipoEncuesta.Nombre }}
    </div>

}